* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Section 1 CSS */

.left-side p {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.section1-wrapper {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding-bottom: 48px;
}

.section1 {
    display: flex;
    flex-direction: column;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
}

.right-side a,
.hero-secondary-text {
    color: #e5e7eb;
    font-size: 16px;
}

.right-side a {
    text-decoration: none;
    margin-left: 12px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    padding: 4px 0;
}

.hero-secondary-text {
    padding: 4px 0 8px 0;
}

.image-awesome {
    height: auto;
    max-width: 400px;
}

.awesome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 32px;
    gap: 16px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
}

.section1-button {
    border: #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    font-size: 21px;
    font-weight: bold;
    color: #f9faf8;
    background-color: #3882f6;
    margin: 4px 0;
}

/* Section 2 CSS */

.section2-wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 0 48px 0;
}

.some-random-information {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 24px 0;
}

.die-image {
    height: auto;
    width: 130px;
}

.dice-row-with-text {
    display: flex;
    justify-content: center;
}

.die-and-text {
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    text-align: center;
}

.text-under-die {
    padding: 16px;
}

/* Section 3 CSS */

.section3-wrapper {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 94px 0 76px 0;
}

.section3 {
    width: 600px;
}

.quote-with-author {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    line-height: 1;
    color: #1f2937;
}

.author {
    align-self: flex-end;
    font-weight: bold;
    padding: 8px 0;
}

/* Section 4 CSS */

.section4-wrapper {
    display: flex;
    justify-content: center;
    padding: 82px 0;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 32px 92px;
    gap: 80px;
}

.section4-text {
    display: flex;
    flex-direction: column;
}

.section4-text-top {
    font-weight: 800;
    padding: 2px 0;
}

.section4-text-bottom {
    font-size: small;
    font-weight: 300;
}

#button-section4 {
    border: 2px solid #f9faf8;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #f9faf8;
    background-color: #3882f6;
    margin: 4px 0;
}

/* Footer CSS */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.footer-text {
    color: #f9faf8;
    padding: 24px;
}